{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ user.get_full_name }} <small>{{ user.username }}</small>!</h2>
  <p>Sos un: {{ user.profile_type }}</p>
  <p>Algunos datos relevantes son:</p>
  <br>
  {% if user.is_empresa %}
    <p>Nombre de usuario: {{user.profile.user}}</p>
    <p>CUIT: {{ user.profile.cuit }}</p>
    <p>Rubro: {{user.profile.rubro}}</p>
	<p>Razon Social: {{user.profile.razon_social}}</p>
  {% endif %}
  {% if user.is_desocupado %}
	<p>Nombre de usuario: {{user.profile.nombre}}</p>
	<p>DNI: {{ user.profile.dni }}</p>
	<p>Trabajo realizable: {{user.profile.trabajo_realizable}}</p>
	<p>Formacion: {{ user.profile.formacion }}</p>
	<p>Habilidades: {{ user.profile.habilidades }}</p>
  {% endif %}
  {% url 'modificar_desocupado' as mod_des %}
  {% url 'modificar_empresa' as mod_emp %}
  <p>Para borrar tu cuenta, haga click <a href="{% url 'borrar_cuenta' %}">aqui</a></p>
  <p>Para modificar tu cuenta, haga click <a href="{% if user.is_empresa %}{{ mod_emp }}{% elif user.is_desocupado %}{{ mod_des }}{% endif %}">aqui</a></p>
  <p>Para ver las ofertas, haga click <a href="{% url 'ofertas' %}">aqui</a></p>
  {% if user.is_empresa %}
    <p>Cree una oferta haciendo click <a href="{% url 'crear_oferta' %}">aqui</a></p>
  {% endif %}
{% endblock %}
