{% extends 'base.html' %}

{% block content %}
  <head>
       <link rel="stylesheet" href="{{ static('css/style.css') }}">
  </head>
  <h2>Ingresa a nuestro sitio</h2>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
    <div style="width:30%">
      <form method="post">
        {{ csrf_input }}
        <input type="hidden" name="next" value="{{ next }}" />
        {% for field in form %}
        <div class="form-group has-errors text-danger small">
            {{ field.label_tag() }}<br>
            {{ field }}<br>
        </div>
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% if field.help_text %}
              <p><small style="color: grey">{{ field.help_text }}</small></p>
            {% endif %}
          </p>
        {% endfor %}
        <button type="submit">Ingresar</button>
        <p><p>
        <a href="{{ url('registro_split') }}">Nuevo? Registrate.</a>
    </div>
    </form>
{% endblock %}
